.App {
  background: #11242a;
  width: 100vw;
  column-count: 3;
  column-gap: 20px;
  padding: 20px 40px 20px 20px;
  box-sizing: border-box;

}

.item{
  background: #d1d1d1;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.image {
  width: 80%;
  height: auto;
  transition: 0.3s;
}
.imageZoom{
  height: 100vh;
  width: auto;
  transition: 0.3s;

}

.inputWrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

input{
  width: 3vw;
  height: 3vw;
  cursor: pointer;
}
